<h2>About The Mystery Dungeon Rescue Board</h2>
<h3>Why this website was created</h3>
<p>This website was created to have one simple place for people to seek rescues and rescue others.</p><br>
<h3>About the creator<h3>
<p>This webite was created by Ray as a side project to practice my skills with Ruby on Rails, HTML, and CSS.</p>