<h1>Help</h1>
<p>I'm not really sure what kind of help people might need. As I get more questions and suggestions I'll probably add them here.</p>

<a href="https://tt.reddit.com/r/MysteryDungeon/comments/3ts6mm/how_to_take_a_screenshot_of_rescue_mail_because/">How to Take Screenshots</a>