// Place all the styles related to the missions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #3399ff;
}

.done {
	background-color: #61FF86;
}

.in-progress {
	background-color: #FFD561;
}

.center-me {
    margin: auto;
    width: 99%;
    margin-top: 10px;
    margin-bottom: 10px;
}