// Place all the styles related to the missions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #3399ff;
}


.done {
	background-color: #00DD00;
}

.center-me {
    margin: auto;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;

}

.left-align {
	text-align:left;
}


.theButton {
	margin: 0 auto;
	width: 30%;
}
