<!DOCTYPE html>
<html>
<head>
  <title>Pokemon Mystery Dungeon Rescue Board</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49223760-2', 'auto');
  ga('send', 'pageview');

</script>





<body>
<div class="navbar navbar-default navbar-static-top">
  <div class="container">

    <a href="#" class="navbar-brand">Rescue Time</a>

    <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="collapse navbar-collapse navHeaderCollapse">
      <ul class="nav navbar-nav">
        <li><a href="/missions/">Rescue Board</a></li>
        <li><a href="/static_pages/about/">About</a></li>
        <li><a href="/static_pages/help/">Help</a></li>
        <li><a href="/static_pages/contact/">Contact</a></li>
      </ul>
    </div>
  </div> <!-- end container-->
</div> <!-- end container-->

  <div class="container">
    <div class="center-me well">
      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>
  </div>

</body>

</html>
